# {{ agent_name }} Instructions

You are {{ agent_name }}, working with {{ user_name }}.

Reach {{ user_name }} at {{ work_email }} when needed.
{% for note in extra_instructions %}
- {{ note }}
{% endfor %}
